{% extends "layouts/base.html" %}

{% block title %} Basic Elements {% endblock %} 

<!-- Specific CSS Plugins goes HERE  -->
{% block css_plugins %}

  <link rel="stylesheet" href="/static/assets/vendors/select2/select2.min.css">
  <link rel="stylesheet" href="/static/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">

{% endblock css_plugins %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
       
{% load static %}
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">월별 발생 건수</h4>
            <p class="card-description">
            </p>
            <div class="form-group row">
            <img src="{% static 'images/fig01.png' %}" width=500, height=400>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">지역별 발생 건수</h4>
            <p class="card-description">
            </p>
            <div class="form-group row">
            <img src="{% static 'images/fig02.png' %}" width=500, height=400>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">월별 피해규모</h4>
            <p class="card-description">
            </p>
            <div class="form-group row">
              <img src="{% static 'images/fig03.png' %}" width=500, height=400>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">지역별 피해규모</h4>
            <p class="card-description">
            </p>
            <div class="form-group row">
              <img src="{% static 'images/fig04.png' %}" width=500, height=400>
            </div>
          </div>
        </div>
      </div><div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">인명피해 비율</h4>
            <p class="card-description">
            </p>
            <div class="form-group row">
              <img src="{% static 'images/fig05.png' %}" width=500, height=400>
             
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">화재유형</h4>
            <p class="card-description">
            </p>
            <div class="form-group row">
              <img src="{% static 'images/fig06.png' %}" width=500, height=400>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">화재요인</h4>
            <p class="card-description">
            </p>
            <div class="form-group row">
              <img src="{% static 'images/fig07.png' %}" width=500, height=400>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">발화요인</h4>
            <p class="card-description">
            </p>
            <div class="form-group row">
              <img src="{% static 'images/fig08.png' %}" width=500, height=400>
            </div>
            
            </div>
        </div>
      </div>
      

{% endblock content %}

<!-- Specific JS Plugins goes HERE  -->
{% block js_plugins %}

  <script src="/static/assets/vendors/typeahead.js/typeahead.bundle.min.js"></script>
  <script src="/static/assets/vendors/select2/select2.min.js"></script>
  <script src="/static/assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>

{% endblock js_plugins %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="/static/assets/js/file-upload.js"></script>
  <script src="/static/assets/js/typeahead.js"></script>
  <script src="/static/assets/js/select2.js"></script>

{% endblock javascripts %}
