
<nav class="sidebar sidebar-offcanvas" id="sidebar" style="background-color:#232227">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html" style="background-color:#232227">
              <i class="mdi mdi-grid-large menu-icon" style="color:#FFFFFF"></i>
              <span class="menu-title" style="color:#FFFFFF">메인</span>
            </a>
          </li>
          <li class="nav-item nav-category" style="color:#FFFFFF">화제 데이터</li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements" style="background-color:#232227">
              <i class="menu-icon mdi mdi-chart-bar" style="color:#FFFFFF"></i>
              <span class="menu-title" style="color:#FFFFFF">화재현황</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements" style="background-color:#232227">
              <ul class="nav flex-column sub-menu" style="background-color:#232227">
                <li class="nav-item"><a class="nav-link" href="/situations.html" style="color:#FFFFFF">화재현황</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item" style="background-color:#232227">
            <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts" style="background-color:#232227">
              <i class="menu-icon mdi mdi-chart-line" style="color:#FFFFFF"></i>
              <span class="menu-title" style="color:#FFFFFF">계절요인분석</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu" style="background-color:#232227">

                <li class="nav-item"> <a class="nav-link" href="/chartjs1.html" style="background-color:#232227;color:#FFFFFF;">풍속요인</a></li>

           </ul>

            </div>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu" style="background-color:#232227">

                <li class="nav-item"> <a class="nav-link" href="/chartjs2.html" style="background-color:#232227;color:#FFFFFF;">습도요인</a></li>

         </ul>
            </div>
            <div class="collapse" id="charts">
              <ul class="nav flex-column sub-menu" style="background-color:#232227">

                <li class="nav-item"> <a class="nav-link" href="/chartjs3.html" style="background-color:#232227;color:#FFFFFF;">온도요인</a></li>

		 </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables" style="background-color:#232227">
              <i class="menu-icon mdi mdi-chart-pie" style="color:#FFFFFF"></i>
              <span class="menu-title" style="color:#FFFFFF">화재유형분석</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu" style="background-color:#232227">
                <li class="nav-item"> <a class="nav-link" href="/fire_type?place=판매시설" style="color:#FFFFFF">화재장소</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons" style="background-color:#232227">
              <i class="menu-icon mdi mdi-layers-outline" style="color:#FFFFFF"></i>
              <span class="menu-title" style="color:#FFFFFF">인프라</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
              <ul class="nav flex-column sub-menu" style="background-color:#232227">
                <li class="nav-item"> <a class="nav-link" href="/fire_fighting_infra.html" style="color:#FFFFFF">소방 인프라</a></li>
              </ul>
            </div>
          </li>          
        </ul>
      </nav>
